@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
    display: flex;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;

}

#confirm {
    flex: 0 0 80%;
}

#container {
    flex: 0 0 85%;
}

#side-bar {
    display: flex;
    flex: 0 0 19%;
    border-left: 1px solid #727272;

}

.top {
    width: 150px;
    height: 60px;
}


#head {
    display: flex;
}


.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/*アコーディオンニュー */

.accordion {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 30px;
    max-width: 250px;
    position: relative;
    width: 100%;
}


.accordion-item {
    display: flexbox;
}

.accordion-title {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.accordion-content {
    display: none;

}

.accordion-content p {
    font-size: 25px;

}

/* タイトルの背景色 */
.accordion-item:nth-of-type(1) .accordion-title {
    background-color: #186AC9;
}

/* コンテンツボックスの枠線 */
.accordion-item:nth-of-type(1) .accordion-content {
    border-bottom: 2px solid #00297e;
    border-left: 2px solid #00297e;
    border-right: 2px solid #00297e;
}

/* 矢印 */
.accordion-title {
    position: relative;
}

.accordion-title::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 25px;
    top: 38%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
}

.accordion-title.open::after {
    top: 45%;
    transform: rotate(-45deg);
}


.accordion-home {
    background-color: #fff;
    color: #727272;
    font-size: 25px;
    text-align: center;

}

.accordion-profile {
    background-color: #00297e;
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.accordion-logout {
    background-color: #fff;
    color: #727272;
    font-size: 25px;
    text-align: center;
}

.link-grey {
    color: #727272;
}

.link-white {
    color: #fff;
}



.follow {
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 100px;
    padding: 10px 15px;
    color: #FFF;
    font-weight: 400;
    background-color: #53acff;
}

.unfollow {
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 100px;
    padding: 10px 15px;
    color: #FFF;
    font-weight: 400;
    background-color: #ed3833;
}


.post-block {
    list-style: none;
    border-bottom: 1px solid #000;
    display: flex;
    padding-left: 100px;
    padding-top: 15px;

}

.post-content {
    width: 100%;
    padding: 15px;
    margin-right: 0px;
}

.post-content>div {
    display: flex;
    justify-content: space-between;
}

.post-name {
    margin-bottom: 10px;
}

.modal_post {
    width: 800px;
    height: 250px;
    margin: auto;
}

.post-aria {
    display: flex;
    margin-top: 50px;
    padding-left: 80px;
    border-bottom: 8px solid #e0e0e0;
}

.post-content-aria {
    width: 800px;
    height: 50px;
    margin: 0px 30px 30px 10px;
    font-size: 15px;
    border-style: none;

}

.search-list.search-images {
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
}

.list-images {
    text-align: center;
    border-bottom: 8px solid #e0e0e0;
    padding-top: 60px;
    padding-bottom: 60px;
}

.user-aria {
    border-bottom: 8px solid #e0e0e0;
    list-style: none;
    display: flex;
    padding-left: 100px;
    padding-top: 15px;
}

.side-list {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 15px;
    padding-bottom: 25px;

}

.list-view {
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
}

.list-count-follow {
    margin-left: 60px;
}

.list-count-follower {
    margin-left: 44px;
}

.list-btn {
    font-size: 10px;
    margin-left: 100px;
    margin-top: 20px;
    display: inline-block;
    background: #0756cf;
    /* 背景色 */
    color: #e0e0e0;
    /* 文字色 */
    padding: 10px 30px;
    /* 上下の余白、左右の余白 */
    text-decoration: none;
    /* デフォルトで入るリンクの下線を消す */
    border-radius: 5px;
    /* 角を丸くする */
    border: 1px solid #333
}

.list-btn:hover {
    color: #e0e0e0;
    /* 背景色     */
    background: #00297e;
    /* 文字色     */
}

.button {
    font-size: 13px;
    margin: 30px 10px 10px 60px;
    display: inline-block;
    background: #0756cf;
    /* 背景色 */
    color: #FFF;
    /* 文字色 */
    padding: 10px 30px;
    /* 上下の余白、左右の余白 */
    text-decoration: none;
    /* デフォルトで入るリンクの下線を消す */
    border-radius: 5px;
    /* 枠の指定 */
}

.button:hover {
    color: #FFF;
    /* 背景色     */
    background: #00297e;
    /* 文字色     */
}

.button-update {
    font-size: 13px;
    margin: 30px 10px 10px 580px;
    display: inline-block;
    background: #ed3b50;
    /* 背景色 */
    color: #FFF;
    /* 文字色 */
    padding: 8px 60px;
    /* 上下の余白、左右の余白 */
    text-decoration: none;
    /* デフォルトで入るリンクの下線を消す */
    border-radius: 5px;
    /* 枠の指定 */
}

.button-update:hover {
    color: #FFF;
    /* 背景色     */
    background: #84020d;
    /* 文字色     */
}


.profile-top {
    display: flex;
    margin: 50px 10px -15px 310px;
    padding-top: 20px;
    font-size: 20px;
}

.profile-list {
    display: flex;
    margin: 0px 10px 5px 400px;
    padding-top: 20px;
    font-size: 20px;
}

.profile-image {
    margin-right: 40px;
}

.profile-username {
    padding-left: 161px;
}

.profile-adress {
    padding-left: 153px;
}

.profile-password {
    padding-left: 170px;
}

.profile-password-comfirm {
    padding-left: 80px;
}

.profile-bio {
    padding-left: 235px;
}

.profile-file {
    width: 200px;
    height: 50px;
}

.font-s {
    font-size: 20px;
}

.search-list {
    display: flex;
    margin: 0px 10px 5px 400px;
    padding-top: 20px;
    font-size: 20px;
}
